---
import PageHeader from "@components/app/PageHeader.astro";
---

<PageHeader>
  <div class="_nav">
    <a class="+current" href="/store">Главная</a>
    <a href="/store/browse">Каталог</a>
    <a href="/store/discover">Discover</a>
    <a href="/store/wishlist">Избранное</a>
    <a href="/store/cart">Корзина</a>
  </div>
</PageHeader>
