@layer tailwind, app, vendors;

@source not inline('container');


@layer tailwind {
  @import "tailwindcss";

  @theme {
    /* --*: initial; */
    --color-*: initial;
    --container-*: initial;
  }
}

/* Typography */
@utility typo-heading-large {
  font-size: 26px;
  font-weight: 700;
}

@utility typo-heading-medium {
  font-size: 22px;
  font-weight: 700;
}

@utility typo-heading-small {
  font-size: 18px;
  font-weight: 700;
}

@utility typo-body-large {
  font-size: 16px;
  font-weight: 400;
}

@utility typo-body-medium {
  font-size: 14px;
  font-weight: 400;
}

@utility typo-body-small {
  font-size: 12px;
  font-weight: 400;
}

@layer app {
  :root {
    --steam-color-text-primary: #f3f3f3;
    --steam-color-text-secondary: #76808c;
    --steam-color-bg-surface-0: #1b2838;
    --steam-color-bg-surface-5: #182636;
    --steam-color-bg-surface-10: #171d25;
    --steam-color-bg-footer: #1e2329;
    --steam-color-bg-highlight: #0e141b;

    /* --steam-color-bg-main: #171d25; */
    /* --steam-color-bg-hover: #313843; */
    /* --steam-color-bg-secondary: #202b3c; */
    /* --steam-color-bg-tertiary: #1b2838; */

    --steam-color-primary: #66c0f4;
    --steam-color-secondary: #4b619b;
    --steam-color-accent-success: #a1cd44;
    --steam-color-accent-danger: #cd5444;
    --steam-color-accent-warning: #c1b15f;
  }
}

@import "./app.css"

