---

---

<div class="app-game-tag">
  <slot />
</div>

<style>
  .app-game-tag {
    display: flex;
    align-items: center;
    text-align: center;
    height: 30px;
    padding-inline: calc(var(--spacing) * 3);
    border-radius: 3px;
    background: var(--steam-color-bg-surface-10);
    color: var(--steam-color-text-secondary);
  }
</style>